
#page-nav{
  border-top: 1px solid currentColor;
}

.site-logo{
  font-size: 30px;
  font-family: Yesteryear;
}

.image-logo{
  margin:-10px 10px;
}

.container {
    margin-left: 50px;
    text-align: justify;
    color: var(--color-softblack);
}

.gallery article h3{
  font-size: 20px;
}


label {
    font-weight: 600;
}

form{
  padding: 10px;
}

.form-group{
  padding:10px;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.btn-block{
  margin-top: 10px;
  width: 100%;
}

.button-dark:hover{
  background-color: black;
  color:white;
}

.pull-right{
  float: right;
}
