
#form-send-data{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--color-blue);
  width:70%;
  margin-left: 15%;
}

#form-payment-data{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--color-blue);
  width:70%;
  margin-left: 15%;

}
.form-control{
  border-color: var(--color-blue);
  width:100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-ccn{
  border-color: var(--color-blue);
  width:50%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-expiry-month{
  border-color: var(--color-blue);
  width:30%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-expiry-year{
  border-color: var(--color-blue);
  width:30%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-cvc{
  border-color: var(--color-blue);
  width:30%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.btn-submit{
  width:70%;
  left:15%;
  right: 15%;
  margin-top: 20px;
}
